.gantt__timeline-time {
    width: 100px;
    margin-left: -50px;
    display: flex;
    height: 50px;
    align-items: center;
    font-family: 'Helvetica Neue';
    font-size: 9pt;
    user-select: none;
    justify-content: center;
    position: absolute;
    //animation-name: fade-in;
    //animation-duration: 0.5s;
    //animation-iteration-count: 1;
    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        height: 5px;
        width: 1px;
        background: black;
    }
    @keyframes fade-in {
        0%   {opacity: 0;}
        100% {opacity: 1;}
    }
}
